:root {
  --rpt-bg-width: 1200px;
  --rpt-bg-color: #d9d9d9;
}

.ratioBox {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: var(--rpt-bg-color);
}

.ratioBox::before {
  content: '';
  display: block;

  width: 100%;
  height: 0;

  padding-top: var(--ratio);
}

@keyframes shimmer {
  0% {
    background-image: linear-gradient(
      to right,
      var(--rpt-bg-color) 0%,
      rgba(0, 0, 0, 0.05) 20%,
      var(--rpt-bg-color) 40%,
      var(--rpt-bg-color) 100%
    );
    background-size: var(--rpt-bg-width) 100%;
    background-position: calc(var(--rpt-bg-width) - (var(--rpt-bg-width) * 2)) 0;
  }
  100% {
    background-image: linear-gradient(
      to right,
      var(--rpt-bg-color) 0%,
      rgba(0, 0, 0, 0.05) 20%,
      var(--rpt-bg-color) 40%,
      var(--rpt-bg-color) 100%
    );
    background-size: var(--rpt-bg-width) 100%;
    background-position: var(--rpt-bg-width) 0;
  }
}

.shimmerEffect::before {
  animation-name: shimmer;
  animation-duration: 2.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: auto;
  object-fit: cover;

  transition: 0.18s ease-in-out;
}
